#adc_graph_1 {
  width:100%;
  height:400px;
}

#adc_graph_2 {
  width:100%;
  height:400px;
}

#adc_graph_3 {
  width:100%;
  height:400px;
}

#adc_graph_4 {
  width:100%;
  height:400px;
}

#adc_graph_1_1 {
  width:100%;
  height:800px;
}

#adc_graph_2_2 {
  width:100%;
  height:800px;
}

#adc_graph_3_3 {
  width:100%;
  height:800px;
}

#adc_graph_4_4 {
  width:100%;
  height:800px;
}
