# Directories #
################################################################################
bin
build
.Xil
#prj/sim/func/work
#prj/sim/func/wlib
*.cache/

# Files #
################################################################################
webtalk.*
*.log
*.jou
*.str
*.mif
*.wlf
transcript
*.fv
modelsim.ini
*.vpwhistu
*.vtg
